#overlay {
  bottom: 0px;
  height: 140px;
  opacity: 0.7;
  position: absolute;
  right: 0px;
  width: 1920px;
  caret-color: rgb(255, 255, 255);
  background: linear-gradient(
        30deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        150deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        30deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    linear-gradient(
        150deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    linear-gradient(
        60deg,
        rgb(159, 89, 189) 25%,
        transparent 25.5%,
        transparent 75%,
        rgb(159, 89, 189) 75%,
        rgb(159, 89, 189) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        60deg,
        rgb(159, 89, 189) 25%,
        transparent 25.5%,
        transparent 75%,
        rgb(159, 89, 189) 75%,
        rgb(159, 89, 189) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    rgb(121, 59, 148) none repeat scroll 0px 0px / 80px 140px padding-box
      border-box;
} /*#signup-btnDIV_1*/
.box {
  width: 200px;
  height: 70px;
  background: #ff1c68;
  transform-origin: 50% 50%;
}
.box p {
  padding-top: 10px;
}
.banner {
  color: #fff;
  background: #8e45ae;
}
.sdm-bg ul.menu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.margin-top-30 {
  margin-top: 30px;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.sdm-bg ul .menu-center li a {
  padding-top: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.scroll-nav li.active a {
  background: 0 0;
  color: #fff;
}
.scroll-nav li a.sdm-active {
  background: #fff;
  color: #8e45ae;
  height: 20px;
  border-radius: 5px;
  -webkit-animation: grow 0.25s ease;
  animation: grow 0.25s ease;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: transparent;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav > li > a {
  padding: 10px 15px;
}
.nav > li,
.nav > li > a {
  display: block;
  position: relative;
}
#home a {
  color: #fff;
  text-decoration: none;
}
#home a {
  background-color: transparent;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.sdm-bg ul.menu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.sdm-bg {
  color: #fff;
  background: #8e45ae;
  position: relative;
}

.profile_picture {
  width: 145px;
}

.margin-top-76 {
  margin-top: 76px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-circle {
  border-radius: 50%;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}
hr {
  border: 0;
  height: 3px;
  background: #fff;
  width: 30px;
}
.social-networks {
  padding-left: 0;
}
.social-icon {
  padding: 5px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid white;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
}
.social-icon > i,
.social-icon > i {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 3px;
}
.social-icon.fa-facebook:hover {
  background-color: blue;
}
.social-icon.fa-linkedin:hover {
  background-color: #0077b5;
}
.social-icon.fa-github:hover {
  background-color: #24292e;
}
.social-icon.fa-instagram:hover {
  background-color: #b5318a;
}
.social-icon.fa-stack-overflow:hover {
  background-color: #f48730;
}

.nav-pills a,
a:visited {
  text-decoration: none;
  position: relative;
  color: #069;
}
.nav-pills a:after,
a:visited:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: white;
  transition: 0.5s;
}
.nav-pills a:hover:after,
a:visited:hover:after {
  width: 100%;
}
.nav-pills a.block,
a:visited.block {
  display: block;
  padding: 0.5em;
}
.nav-pills a.block:hover,
a:visited.block:hover {
  background: #eee;
}
ol,
ul {
  margin-bottom: 10px;
}
dl,
ol,
ul {
  margin-top: 0;
}
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 45px;
  height: 45px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}
a {
  background-color: transparent;
}
