#contact_me h3 {
  margin-top: 0;
}

#contact_me h3,
#expertness h3,
.btn-orange {
  font-weight: 700;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}
#contact_me .block h4 {
  color: #fff;
}

.block h4 {
  margin-bottom: 14px;
}
.block h4,
.block p {
  color: #555;
}
.initialism,
.text-uppercase {
  text-transform: uppercase;
}
hr {
  border: 0;
  height: 3px;
  background: #fff;
  width: 30px;
}

hr {
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ol,
ul {
  margin-bottom: 10px;
}
dl,
ol,
ul {
  margin-top: 0;
}
/*----- FORM -------*/
input[type="text"],
textarea {
  background-color: #8e45ae;
}

input[type="text"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f8d3c4;
  opacity: 1; /* Firefox */
}
/*---end form ---*/

.btn-orange {
  background: #f5a623;
  padding: 15px 30px;
  border: 2px solid #f5a623;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-transform: uppercase;
  color: white;
}
.btn-orange:hover {
  background: white;
  color: #f5a623;
  border: 2px solid #f5a623;
}
#contact_me h3,
#expertness h3,
.btn-orange {
  font-weight: 700;
}
.btn {
  height: 50px;
  width: 200px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay-contact {
  bottom: 0px;
  height: 140px;
  opacity: 0.7;
  position: absolute;
  right: 0px;
  width: 1920px;
  caret-color: rgb(255, 255, 255);
  background: linear-gradient(
        30deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        150deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        30deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    linear-gradient(
        150deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    linear-gradient(
        60deg,
        rgb(159, 89, 189) 25%,
        transparent 25.5%,
        transparent 75%,
        rgb(159, 89, 189) 75%,
        rgb(159, 89, 189) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        60deg,
        rgb(159, 89, 189) 25%,
        transparent 25.5%,
        transparent 75%,
        rgb(159, 89, 189) 75%,
        rgb(159, 89, 189) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    rgb(121, 59, 148) none repeat scroll 0px 0px / 80px 140px padding-box
      border-box;
} /*#signup-btnDIV_1*/
