.banner {
  color: #fff;
  background: #8e45ae;
}

.block {
  margin-top: 26px;
  margin-bottom: 26px;
}
#expertness .block h4,
#expertness .block p {
  color: #fff;
}

.block h4 {
  margin-bottom: 14px;
}
.block h4,
.block p {
  color: #555;
}
.initialism,
.text-uppercase {
  text-transform: uppercase;
}
#overlay-whatido {
  bottom: 0px;
  height: 140px;
  opacity: 0.7;
  position: absolute;
  right: 0px;
  width: 1920px;
  caret-color: rgb(255, 255, 255);
  background: linear-gradient(
        30deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        150deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        30deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    linear-gradient(
        150deg,
        rgb(142, 69, 174) 12%,
        transparent 12.5%,
        transparent 87%,
        rgb(142, 69, 174) 87.5%,
        rgb(142, 69, 174) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    linear-gradient(
        60deg,
        rgb(159, 89, 189) 25%,
        transparent 25.5%,
        transparent 75%,
        rgb(159, 89, 189) 75%,
        rgb(159, 89, 189) 0px
      )
      repeat scroll 0px 0px / 80px 140px padding-box border-box,
    linear-gradient(
        60deg,
        rgb(159, 89, 189) 25%,
        transparent 25.5%,
        transparent 75%,
        rgb(159, 89, 189) 75%,
        rgb(159, 89, 189) 0px
      )
      repeat scroll 40px 70px / 80px 140px padding-box border-box,
    rgb(121, 59, 148) none repeat scroll 0px 0px / 80px 140px padding-box
      border-box;
} /*#signup-btnDIV_1*/
